*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* inizio provvisorio per header */
    header{
        height: 500px;
        background-color: lightblue;
        position: relative;
    }

    header > div{
        font-size: 50px;
        font-weight: bold;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
/* fine provvisiorio per header */

.container{
    width: 80%;
    margin: 10% auto;
}

.container.small{
    height: 300px; /*è opportuno questo approccio???*/
}

.container.big{
    height: 600px; /*è opportuno questo approccio???*/
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

/* start main's css */
    .container.small img{
        width: 50%;
        height: 100%; /*necessario, senza le img sono più grandi del padre, quando allarghiamo la finestra del browser*/
        float: left;
    }

    .container .text.side{
        width: 50%;
        float: left;
        padding: 0px 50px;
    }

    .text h2{
        font-size: 40px;
    }

    .text p{
        margin-top: 20px;
        font-size: 15px;
    }

    .container .text.center{
        text-align: center;
    }

    h1{ /*provvisorio da cancellare*/
        color: red;
        margin: 20px;
        text-align: center;
    }
/* main's css end */